@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Arial', sans-serif;
}

body {
    background-color: #FCE9E9;
}

li {
 list-style: none;
}

a {
    text-decoration: none;
}
section {
    min-height: 750px;
    padding: 15px 0;
}


#site-cv {
    margin: 25px auto;
    color: #5E5E5E;
}

              /* SIDEBAR */

#site-cv .sidebar {
    background-color: #F8F8F8;
    height: 680px;
    border-radius:15px 0 0 15px;
    position: sticky;
    top: 0;
    z-index: 99;
}
.sidebar ul {
    margin: 150px 0;
    padding-left: 0px;
}
.sidebar li {
    margin: 35px 0;
}
.sidebar a{
    color: #5E5E5E;
    transition: 0.1s;
    font-size: 18px;
    padding: 5px;
}
.sidebar a:hover, .sidebar a:focus, .sidebar a:active, .active a{
    color: #F28B8B;
    font-weight: 600;
}

 .sidebar a span {
    width: 45px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 25px;
    padding: 25px;
    transition: 0.3s;
    margin-right: 10px;
}
/* 
.sidebar a:not(.button)[aria-selected]:not([aria-selected=""]):not([aria-selected=false]) {
    font-weight: 600;
    color: #F28B8B;
} */

.sidebar a:hover span.me, .sidebar a:hover span.skills, .sidebar a:hover span.experience, .sidebar a:hover span.works, .sidebar a:hover span.contact, .sidebar .active span.me, .sidebar .active span.skills, .sidebar .active span.experience, .sidebar .active span.works, .sidebar .active span.contact  {
    background-color: #F28B8B;
}

span.me {
    background: url("../images/me.png") no-repeat;
}
a:hover span.me, .active span.me {
    background: url("../images/me-2.png") no-repeat;
}
span.skills {
    background: url("../images/skills.png") no-repeat;
}
a:hover span.skills, .active span.skills {
    background: url("../images/skills-2.png") no-repeat;
}
span.experience {
    background: url("../images/experience.png") no-repeat;
}
a:hover span.experience, .active span.experience {
    background: url("../images/experience-2.png") no-repeat;
}
span.works {
    background: url("../images/works.png") no-repeat;
}
a:hover span.works, .active span.works {
    background: url("../images/works-2.png") no-repeat;
}
span.contact {
    background: url("../images/contact.png") no-repeat;
}
a:hover span.contact, .active span.contact {
    background: url("../images/contact-2.png") no-repeat;
}
 

            /* CONTENIDO */

#site-cv .content {
    background-color: #fff;
    /* height: 650px; */
    border-radius:0 15px 15px 0;
    /* overflow-y: scroll; */
}

h2 {
    color: #F28B8B;
    font-weight: 600;
    font-size: 30px;
    margin: 0px 40px 45px 40px;
    position: relative;
    z-index: 5;
    /* background-color: #F8F8F8; */
    /* padding: 10px; */
}
.h2-background {
    background-color: #F8F8F8;
    width: 150px;
    height: 25px;
    position: relative;
    top: 40px;
    left: 15px;
    z-index: 0;
}

h3 {
    font-weight: 600;
    font-size: 20px;
    color: #9780C8;
    margin: 30px 25px 10px 25px;
}
h3 img {
    margin-right: 10px;
    width: 30px;
}

            /* SOBRE MI  */
.photo {
    width: 125px;
    margin-top: 10px;
}
.name {
    font-weight: 600;
font-size: 25px;
color: #9780C8;
margin-left: 15px;
margin-bottom: 5px;
}
.puesto {
font-weight: 500;
font-size: 12px;
color: #5E5E5E;
opacity: 0.5;
margin-left: 15px;
}
.mi-info {
    margin: 30px ;
}
.descripcion {
    margin-left: 15px;
    font-weight: 400;
    font-size: 14px;
}
.info-personal {
    margin: 30px 20px;
}
.title-info-cv {
    color: #F28B8B;
    font-weight: 600;
}
.text-info-cv {
    font-size: 13px;
    font-weight: 400;
}


            /* HABILIDADES  */
.skill {
    margin: 15px 25px;
}
.skill-name {
    font-weight: 600;
    font-size: 14px;
    margin: 10px 0;
}
.skill-name span {
    float: right;
    font-weight: 400;
    font-size: 12px;
    opacity: 0.7;
}
.skill-bar {
    background-color: #FCE9E9;
    height: 8px;
    border-radius: 4px;
    width: 100%;
}
.skill-per {
    background-color: #F28B8B;
    height: 8px;
    border-radius: 4px;
    position: relative;
    width: 0%;
    opacity: 0;
    transition: all 1s;
}

        /* SKILL CIRCLE  */
.round {
    margin: 30px 0;
    min-height: 120px;
    position: relative;
    text-align: center;
}

.round strong {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    transform: translate(-50%);
    font-size: 13px;
    opacity: 0.7;
    font-weight: 400;
}



 .idioma-progress-circle {
    position: relative;
    background-color: #F28B8B;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 15px auto;
 }
 .idioma-progress-circle:before {
    content: "";
    position: absolute;
    width: 84%;
    height: 84%;
    background-color: #fff;
    border-radius: 50%;
 }
 .idioma-progress-circle  .value-container{
    position: relative;
    font-size: 13px;
    opacity: 0.7;
 }
 .idioma-name {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 5px;
 }


            /* MIS TRABAJOS  */
.trabajos-container{
    padding: 0 15px;
}

.trabajitos {
    margin: 10px 0; 
}
.trabajitos img {
    width: 100%;
    border-radius: 10px;
}



            /* SCROLL */
#site-cv .content::-webkit-scrollbar, html::-webkit-scrollbar {
    width: 6px;     /* Tamaño del scroll en vertical */
    height: 2px;    /* Tamaño del scroll en horizontal */
}

#site-cv .content::-webkit-scrollbar-thumb, html::-webkit-scrollbar {
    background: #F28B8B;
    border-radius: 4px;
    /* display: none; */
}

            /* SCROLL TOP  */
#TopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none; 
    background-color: #F28B8B; 
    color: white; 
    padding: 9px 15px;
    border-radius: 25px;
    transition: 0.3s;
  }
  
  #TopBtn:hover {
    background-color: #9780C8;
  }

  



@media (max-width: 768px) {

    #site-cv {
        width: 90%;
    }

            /* SIDEBAR  */
    #site-cv .sidebar {
        height: 75px;
        border-radius:15px 15px 0 0;
        /* position: initial; */
        padding: 0;
        top: -10px;
    }
    .sidebar ul {
        margin: 0;
        text-align: center;
        height: 75px;
    }
    .sidebar li {
        margin: 15px 2px;
        display: inline-block;
        width: 15%;
    }
    .sidebar a{
        font-size: 0px;
        padding: 0;
    }
    .sidebar a span {
        display: block;
        margin: auto;
    }


            /* CONTENT  */
    #site-cv .content {
        border-radius: 0 0 15px 15px;
    }
  }